<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".intro.CsvFileImportIntroActivity"
            android:theme="@style/Theme.Dashlane.TransparentSystemBars" />

        <activity
            android:name=".csvimport.view.CsvImportActivity"
            android:theme="@style/Theme.Dashlane.TransparentSystemBars"
            />

        <activity
            android:name=".CsvSendActionHandler"
            android:label="@string/import_chooser_label"
            android:theme="@style/Theme.Dashlane.NoActionBar"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/csv"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".matchcsvfields.MatchCsvFieldsActivity"
            android:theme="@style/Theme.Dashlane.TransparentSystemBars"
            />
    </application>
</manifest>