<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashlane.guidedonboarding">

    <application>

        <activity
            android:name=".OnboardingQuestionnaireActivity"
            android:theme="@style/Theme.Dashlane.NoActionBar" />

        <activity
            android:name=".TrustFAQActivity"
            android:theme="@style/Theme.Dashlane.NoActionBar" />

        <activity
            android:name=".darkwebmonitoring.OnboardingDarkWebMonitoringActivity"
            android:theme="@style/Theme.Dashlane.NoActionBar" />
    </application>
</manifest>
