<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.dashlane.autofill.passwordendpoint.SettingsRedirectionActivity"
            android:exported="false" />
        <activity
            android:name="com.dashlane.autofill.passwordendpoint.VaultRedirectionActivity"
            android:exported="false" />
        <activity
            android:name="com.dashlane.autofill.unlockfill.AutofillAuthActivity"
            android:theme="@style/Theme.Dashlane.Transparent.NoAnimation" />
        <activity
            android:name="com.dashlane.autofill.unlockfill.AutofillAuthChangePasswordActivity"
            android:theme="@style/Theme.Dashlane.Transparent.NoAnimation" />

        <activity
            android:name="com.dashlane.autofill.ui.SmsOtpAutofillActivity"
            android:theme="@style/Theme.Dashlane.Transparent.NoAnimation" />

        <service
            android:name="com.dashlane.autofillapi.AutoFillAPIService"
            android:exported="false"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill_service_config" />
        </service>

        <activity
            android:name="com.dashlane.autofill.viewallaccounts.view.AutofillViewAllItemsActivity"
            android:theme="@style/Theme.Dashlane.Transparent.Cancelable" />

        <activity
            android:name="com.dashlane.autofill.pause.view.AutofillPauseActivity"
            android:theme="@style/Theme.Dashlane.Transparent.Cancelable" />

        <activity
            android:name="com.dashlane.autofill.createaccount.view.AutofillCreateAccountActivity"
            android:theme="@style/Theme.Dashlane.Transparent.Cancelable" />

        <activity
            android:name="com.dashlane.autofill.request.save.SaveRequestActivity"
            android:theme="@style/Theme.Dashlane.Transparent.Cancelable" />

        <activity
            android:name="com.dashlane.autofill.changepassword.view.AutofillChangePasswordActivity"
            android:theme="@style/Theme.Dashlane.Transparent.Cancelable" />

        <activity
            android:name="com.dashlane.autofill.actionssources.view.ActionsSourcesActivity"
            android:label="@string/autofill_pause_resume_settings_title" />

        <activity
            android:name="com.dashlane.autofill.pausedautofillsettings.PausedAutofillActivity"
            android:label="@string/autofill_revert_actions_title" />

        <activity
            android:name="com.dashlane.autofill.emptywebsitewarning.view.EmptyWebsiteWarningActivity"
            android:theme="@style/Theme.Dashlane.Transparent.Cancelable" />
    </application>
</manifest>
