<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".services.FollowUpNotificationCopyReceiver"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Dashlane.Transparent" />
        <activity
            android:name=".discovery.FollowUpNotificationDiscoveryActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Dashlane.Transparent.Modal" />

        <receiver
            android:name=".services.FollowUpNotificationDismissReceiver"
            android:permission="com.dashlane.notification.followupnotification.FOLLOW_UP_NOTIFICATION" />
    </application>

</manifest>